.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 350px;
  font-size: 24px;
  border: 1px solid #000;
}

.detailsList {
    display: flex;
    flex-wrap: wrap;
}

.description {
  font-size: 32px;
  margin-bottom: 10px;
}

.details {
  flex: 0 1 48%;
  margin: 10px 0px;
  font-size: 24px;
}

.icon {
  width: 75px;
  height: 75px
}